<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>biletstats</name>
    <displayName><![CDATA[Statystyki Biletów]]></displayName>
    <version><![CDATA[1.0.7]]></version>
    <description><![CDATA[Wyświetla zaawansowane statystyki sprzedaży dla produktu-biletu o ID 78 oraz sortowalną listę zamówień.]]></description>
    <author><![CDATA[BESTLAB Ernest]]></author>
    <tab><![CDATA[analytics_stats]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
    <ps_versions_compliancy>
        <min>8.0.0</min>
        <max>_PS_VERSION_</max>
    </ps_versions_compliancy>
</module>